.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../Image/textura-afro.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background: #F0FFF0;
    border-radius: 25px;
}


.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50%;
    gap: 15px;
}

.logo{
    display: flex;
    justify-content: center;

}

