.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 93vh;
  

}

.container4 img{
    width: 31vw;
    border-radius: 10px;
}